$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77,181,255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$transition: all 400ms ease;

.contact__card{
    .contact__icon{
        font-size: 2rem ;
        }

    border: 1px solid $color-bg-variant;
    border-radius: 2rem;
    padding: 2rem 4rem;
    margin: 2rem 0;
    background: $color-bg-variant;
    transition: $transition;
   

    &:hover{
        border: 1px solid white;
        background: transparent;

    }




    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    

    input, textarea{
          width: 100%;
          padding: 2rem;
          border-radius: 1rem;
          background: transparent;
          border: 2px solid $color-primary-variant;
          resize: none;
   
    }

    

}
